<div class="container">
  <div class="form-signin">
    <h1 class="form-signin-heading">Editing Buyer</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @buyer %> |
    <%= link_to 'Back', buyers_path %>
  </div>
</div>