<div class="container top-margin-reduction">
  <div class="form-signin">
    <h1 class="form-signin-heading">New Buyer</h1>

    <%= render 'form' %>
    <br>
    <%= link_to 'Back', buyers_path %>
    <br>
  </div>
</div>