<div class="buyers-search-background">
  <div class="container container-fluid">  <!-- I removed the class top-margin-reduction -->

    <div class="jumbotron" id="buyers-search-margin">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 col-md-offset-1">
            <h1>Search buyers for your home:</h1>
            <br>
            <%= render 'searchform' %>
          </div>
        </div>  
      </div>
    </div>

    <br>
  <% if @buyers.count>0 %>
    <div class="well bottom-filler">
      <table class="table table-striped">
          <thead>
            <tr>
              <th><%= @buyers.count %> Potential Buyers!</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @buyers.each do |buyer| %>
              <tr>
                <td>Anonymous buyer from &nbsp</td>
                <td><%= buyer.city %>&nbsp</td>
                <td><%= buyer.state %></td>
              </tr>
            <% end %>
          </tbody>
        </table> 
    </div>
  <% else %>
    <div class="filler">
    </div>
  <% end %>
  </div>
</div>