// Place all the styles related to the Buyers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.left-padding {
  padding-left: 0.7em;
}

#top-margin-search-button {
  margin-top: 1.5em;
}

.pretty-form-box {
  display: inline-block;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.top-margin-reduction {
  margin-top: -40px;
}

#buyers-search-margin {
  margin-top: 100px;
}

.jumbotron {
background-image: url("../images/jumbotron_bg.jpg");
background-size: cover;
}