// Place all the styles related to the Listers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-listers-background {
  background: url("beach-balcony.jpeg");
  background-size: cover;
  padding-bottom: 50px;
}
  
