<div class="container top-margin-reduction">
  <div class="form-signin">
    <h1 class="form-signin-heading">Editing Lister</h1>

    <%= render 'form' %>
    
    <%= link_to 'Show', @lister %> |
    <%= link_to 'Back', listers_path %>
  </div>
</div>