<div class="container">
  <div class="form-signin">
    <h1 class="form-signin-heading">New Lister</h1>

    <%= render 'form' %>
    <br>
    <%= link_to 'Back', listers_path %>
    <br>
  </div>
</div>